*.db
*.keras
*.h5
*.sqlite3
*.jpg
*.keras
*.xml
*.pkl

.idea

*/__pycache__/*
*__pychache__
*/.ipynb_checkpoints/*
*/.vscode/*
*/.pytest

.idea/
__pycache__/
*.docx
*.sqlite
logs/
*.index
*.data-*